.Preferences {
  display: inline-grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}


.full-choir-container {
  justify-self: stretch;
}