.PartFormlet {
  border: 2px solid rgb(90, 87, 87);
  border-radius: 5px;
  list-style: none;
  margin: 10px auto;
  background-color: #fff;
}

.PartFormlet > * {
  margin: 5px 0;
}

.part-formlet-content {
  position: relative;
  display: flex;
  margin: 5px 35px 5px 5px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif
}



.edit-part {
  border-color: green;
  box-shadow: 0 0 2px rgb(100, 231, 100);
  background-color: rgb(202, 198, 198);
}

.PartFormlet label {
  padding-right: 5px;
  padding-left: 15px;
}



.PartFormlet svg {
  height: 15px;
  width: 15px;
  margin-top: 2px;
  padding: 0 2px;
}

.part-number {
  white-space: nowrap;
  font-size: 20px;
}

.initial-input {
  width: 35px;
  padding-left: 0;
}

