


h1 {
	font-family: cursive;
	font-size: 50px;
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	text-align: center;
}

#overview {
	width: 600px;
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 17px;
}



#disclaimer {
	margin-top: 10px;
	font-style: italic;
}