html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	position: relative;
}

h1 {
	font-family: cursive;
	font-size: 50px;
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	text-align: center;
}




.pseudo-btn {
	cursor: pointer;
	padding: 5px;
  border: none;
  background-color: rgb(90, 87, 87);
	
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 50%);
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #fff
}

.text-input {
	height: 25px;
	padding-left: 5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.nav-btn {
	position: absolute;
	top: 10px;
	right: 40px;
	padding: 5px;
	background-color: rgb(124, 165, 255);
	border: none;
	border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 30%);
	font-family: Arial, Helvetica, sans-serif;
  color: #000;
	cursor: pointer;
}